*{
    padding: 0;
    margin: 0;
}
.font{
    font-family: "Merriweather", serif;
}
main{
    width: 1320px;
    margin: 0 auto;
}
/* header */
header{
    margin: 0 auto;
    height: 600px;
    background-image: url('images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    background-color: rgba(0, 0,0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.header-p{
    font-size: 32px;
    color: white;
}
.header-h{
    font-size: 72px;
    color: white;
    font-weight: bolder;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1320px;

}
/* 65% discount */
.main-discount{
    text-align: center;
}
.dicound{
    font-size: 88px;
    font-weight: bold;
    color: red;
    margin-top: 120px;
    margin-bottom: 48px;
}
.holiday{
    
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin-bottom: 16px;
}
.categories{
    
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 48px;
}
/* welcome section */
.welcome{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url('images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 120px;
    display: flex;
}
.Join{

    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 48px;
}
.welcome-des{
    font-size: 18px;
    color: white;
    padding-top: 24px;
}
.welcome-title{
    font-size: 64px;
    font-weight: bold;  
    color: white;
}
.padding{
    padding: 126px;
}
.img{
    padding: 68px ;
    padding-right: 138px;
}
/* address */
.pdt{
    color: red;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 32px;
    padding-right: 10px;
    padding: 10px 0;
}
.address-pdt{
    
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 32px;
    padding: 10px 0;
}
.address{
    background-color: rgba(255, 0, 0, 0.1);
    width: 1320px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
    margin-top: 120px;
    border-radius: 16px;
}
.btn{
    background-color: red;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
}
/* offer */
.offer{
    display: flex;
    font-family: "Inter", sans-serif;
    width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}
.off-des{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 40px;
}
.soon{
    font-weight: bolder;
    font-size: 48px;
    font-family: "Merriweather", serif;
    padding-bottom: 10px;

}
.new-offer{
    color: red;
    font-size: 24px;
    font-weight: 600px;
    padding-bottom: 10px;
}
.best-offer,.offer-des{
    padding-top: 80px;
}
.best-offer{
    margin-right:70px ;
}
.offer-des{
    margin-left: 118px;
}
.offer-year{
    font-size: 48px;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
}
.holyday{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;

}
.holyday-function{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #070211;
}
.holyday-discount{
    font-family: "Merriweather", serif;
    font-size: 72px;
    margin-top: 20px ;
    margin-bottom: 20px ;
}
.holyday-des{
    font-family: "Inter", sans-serif;

    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.red-holiday{
    color: red;
}
.giftbox{
    margin: 0 auto;
    width: 1320px;
    position: relative;
    margin-bottom:120px;
}
/* .border{
    border: 2px solid red;
    height: 200px;
    background-color: red;
    border-radius: 16px 0 16px 16px ;
} */
.border img{
    margin-top: 497px;
    
}
.gift-img img{
    position: absolute;
    top: 50px;
}
.dis-img img{
    position: absolute;
    top: 100px;
    left: 900px;
}
/* items */
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-bottom: 120px;
}
/* form */
#email{
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.6);
    padding-left: 30px;
    outline:none;
    border: none;

}
.form{
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 16px;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 50px;


}
#btn{
    width: 210px;
    height: 72px;
    margin-left: 0px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 0 50px 50px 0;
    border: red;

}
/* footer */
.footer p,.contact p{
    font-size: 24px;
    color: white;
}
.contact p{
    font-size: 24px;
    color: white;

}
.footer{
    border: 2px solid #070211;
    height: 610px;
    margin-top: 120px;
    background-color: #070211;
}
.footer-1{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.footer-2{
    display: flex;
    gap:15px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

 }
.hr{
    height: 0px;
    margin: 0 auto;
    width: 1320px;
    border: 2px solid rgba(255, 255, 255, 0.15);
} 